body {
  color: #696969;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
  background-color: #fff;
}

h1 {
  color: #00909E;
  font-size: 3.7rem;
  margin: 30px auto 10px;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0 10%;
  line-height: 1.5;
}

h3 {
  color: #00909E;
  font-size: 2rem;
  font-weight: normal;
  margin: 50px auto 0;
}

h3::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none;
}

h4 {
  color: black;
  font-weight: normal;
  font-size: 1rem;
  margin: 20px 0 10px;
}

h5 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 5px 0;
}

hr {
  border: 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #00909E, rgba(0, 0, 0, 0));
  margin: 0 auto 20px;
}

td {
  padding: 5px 12.5px 5px 0;
}

li {
  padding: 5px 0;
}

ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.navbar {
  background-color: #679B9B;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  text-align: left;
  z-index: 1;
}

.bruce {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 47px 0 23px;
  line-height: 70px;
}

.navlinks {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 23px;
  line-height: 70px;
}

.body-links {
  color: #696969;
  text-decoration: none;
}

.body-links:hover {
  text-decoration: underline;
}

.top {
  background-color: #AACFCF;
  margin: 70px auto 0;
  padding: 100px 0 100px;
  position: relative;
}

.content {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .content {
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .navlinks .bruce {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 20px;
    line-height: 70px;
  }
}

.quals-tb {
  table-layout: fixed;
  width: 100%;
}

.coding-tb {
  display: inline;
  margin-right: 2.5%;
}

.port-content {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.odd-img {
  width: 40%;
  float: left;
  margin-right: 10%;
  box-shadow: 5px 5px 7px #696969;
  border-radius: 5px;
}

.even-img {
  width: 40%;
  float: right;
  margin-left: 10%;
  box-shadow: -5px 5px 7px #696969;
  border-radius: 5px;
}

.bot {
  background-color: #679B9B;
  color: white;
  padding: 30px 0 10px;
  margin-top: 50px;
}

.far {
  font-size: 2rem;
  text-decoration: none;
  margin: 20px;
}

.fab {
  font-size: 2rem;
  text-decoration: none;
  margin: 20px;
}

.fa-envelope {
  color: white;
}

.fa-linkedin-in {
  color: white;
}

.fa-github {
  color: white;
}
